<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/jass.css" />
  </head>

  <body>
    <header class="display-flex justify-space-between align-center p-2">
      <h1 id="tech-blog">
        Tech Blog
      </h1>
      <nav>
        <button class="btn" id="home">Home</button>
      </nav>
      <nav>
        <button class="btn" id="dashboard">Dashboard</button>
      </nav>

      {{#if logged_in}}
        <nav>
          <button class="btn" id="logout">logout</button>
        </nav>
      {{/if}}
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
    <footer>

    </footer>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>