<h2>Create Post</h2>

<form class="form post-form">
  <div class="form-group">
    <label for="title-input">Title:</label>
    <input class="form-input" type="text" id="title-input" />
  </div>
  <div class="form-group">
    <label for="post-body">Blog Here:</label>
    </br>
    <textarea rows="10" cols="100" id="post-body">
      Type Blog Post Here!</textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit Post</button>
  </div>
</form>